@import url('http://fonts.cdnfonts.com/css/tex-gyre-heros');
@font-face {
   font-family: 'jznato';
   src:  url("https://jzedwards.github.io/fonts/jznato-v11-webfont.woff2") format('woff2'),
         url("https://jzedwards.github.io/fonts/jznato-v11-webfont.woff") format('woff'),
         url("https://jzedwards.github.io/fonts/jznato-v11.otf") format('opentype'); 
}
@font-face {
   font-family: 'europa';
   src:  url("https://jzedwards.github.io/fonts/europa-regular.v2-webfont.woff2") format('woff2'),
         url("https://jzedwards.github.io/fonts/europa-regular.v2.woff") format('woff'),
         url("https://jzedwards.github.io/fonts/europa-regular.v2.otf") format('opentype'); 
}
.symbol {
      font-family: jznato; font-size: x-large ; font-weight: bold;
}
.europa {
      font-family: europa; font-size: x-large ; font-weight: bold;
}
body { font-family: texgyreheros, 'Tex Gyre Heros', sans-serif ; } 